@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed&family=Carter+One&display=swap');

body {
    background-color: grey;
}
header {
    background-color: #333; 
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    height: 80px;
    font-family: "Carter One";
    position: fixed;
    top: 0;
    width: 100%;
}
header a {
    color: white;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 70px;
}
#footer {
    background-color: #333; 
    color: white; 
    padding: 10px;
    text-align: center;
    font-family: "Carter One";
}

#footer a {
    color: white; 
    text-decoration: none;
}
#footer a:hover {
    color: gray; 
}

nav {
    display: flex;
    align-items: center;
    flex-grow: 1;   
}

nav a {
    color: white;
    text-decoration: none;
    margin: 9.5%;
    font-size: 120%;
}

nav a:hover {
    color: lightgray;
}

#hero {
    position: relative; 
    z-index: -1;
}

#hero-text {
    position: absolute; 
    top: 65%;
    left: 50%; 
    transform: translate(-50%, -50%); 
    text-align: center; 
    color: white; 
    opacity: 0.5;
    font-family: "Carter One";
    font-size: 100px; 
    margin: 0; 
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

#hero-text h1 {
    font-size: 100px; 
    margin: 0; 
}
.hero-img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    margin-top: 75px;
}

#info-grid {
    display: grid;
    grid-template-columns: repeat(21, 4.76%);
    grid-template-rows: 50px 1fr 50px;
    padding-top: 50px;
    padding-bottom: 50px;
}

#me-grid, #shoot-grid {
    grid-column: 3/8;
    grid-row: 2;
    background-color: #333;
    padding: 50px;
    border-radius: 5px;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 2), 0 0 20px 0 rgba(0, 0, 0, 2);
}

#about-me, #shoot{
    text-align: center;
    font-family: "Carter One";
    color: white;
}
.tyler-img, .re-img1 {
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
}
#me-p, #shoot-p {
    text-align: center;
    font-family: "Barlow Semi Condensed";
    color: white;
}
#me-p a {
    color: white;
}

#quality-grid, #edit-grid{
    grid-column: 9/14;
    grid-row: 2;
    padding: 50px;
    background-color: #333;
    border-radius: 5px;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 2), 0 0 20px 0 rgba(0, 0, 0, 2);
}

#high-quality, #edit{
    text-align: center;
    font-family: "Carter One";
    color: white;
}
.drone-img, .re-img2 {
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
}
#quality-p, #edit-p {
    text-align: center;
    font-family: "Barlow Semi Condensed";
    color: white;
}


#certified-grid, #send-grid {
    grid-column: 15/20;
    grid-row: 2;
    padding: 50px;
    background-color: #333;
    border-radius: 5px;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 2), 0 0 20px 0 rgba(0, 0, 0, 2);
}

#certified, #send {
    text-align: center;
    font-family: "Carter One";
    color: white;
}
.faa-img, .re-img3 {
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
}
#certified-p, #send-p {
    text-align: center;
    font-family: "Barlow Semi Condensed";
    color: white;
}
#certified-p a {
    color: white;
}

/* real estate page */
#re-hero {
    position: relative; 
    z-index: -1;
}

#re-hero-text {
    position: absolute; 
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%); 
    text-align: center; 
    color: white; 
    opacity: 0.7;
    font-family: "Carter One";
    font-size: 100px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}
#re-hero-text h1 {
    font-size: 100px; 
    margin: 0; 
}
#re-info-grid {
    display: grid;
    grid-template-columns: 1fr 75% 1fr;
    padding-bottom: 100px;
    padding-top: 100px;
}
#re-info {
   grid-column: 2;
   grid-row: 1;
   width: 100%;
   padding: 5% 10% 5% 10%;
   background-color: #333;
   border-radius: 5px;
   box-shadow: 0 0 8px 0 rgba(0, 0, 0, 2), 0 0 20px 0 rgba(0, 0, 0, 2);
}
#re-info p {
    color: white;
    font-size: 150%;
    font-family: "Barlow Semi Condensed";
    text-align: center;

}
#house-shots {
    display: flex;
    width: 100%;
}
#house-shots img {
    flex: 1; 
    margin: 0; 
    max-width: 50%; 
    height: auto;
}    

#container {
    display: flex;
    justify-content: center;
    margin-top: 200px;
    margin-bottom: 100px;
}
.tablink {
  background-color: #333;
  color: white;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2), 0 0 20px 0 rgba(0, 0, 0, 0.2);
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 25%;
  font-family: "Carter One";
  border-radius: 5px 0 0 5px;
}
.tablink:last-child {
    border-radius: 0 5px 5px 0;
}

.tablink:hover {
  background-color: #777;
}
.tablink.clicked {
    border: 1px solid black;
    background-color: #777;
}
.tabcontent iframe {
    border: none;
}
#timelapse, #boat-vid, #temple-vid {
    display: inline-flex;
    display: flex;
    justify-content: center;
    margin: 20px;
}

#row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 7px;
    margin-bottom: 50px;
}
  
.column {
    flex: 33.3%;
    max-width: 33.3%;
    padding: 0 7px;
}
  
.column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}




